{% extends "common/templates/layout.njk" %}

{% block page_title %}
	Terms - {{title_suffix}}
{% endblock %}

{% block content %}
<main id="content" role="main">

	<div class="grid-row">
  		<div class="column-two-thirds">

	    	<h1 class="heading-xlarge">Terms and conditions</h1>

	    	<p>By submitting trade union facility time data you agree to these terms and conditions.</p> 

			<p>You confirm that:
			    
			<ul class="list list-bullet">
			  <li>you’re the organisation's authorised representative to submit facility time data</li>
			  <li>the information you’ve provided is correct to the best of your knowledge</li>
			  <li>the data is collected, stored and used in line with data protection legislation</li>
			</ul>
			     
			If you’re an organisation not listed on our database we may contact you to confirm your submission.
			</p>

			<h2 class="heading-large">Publication requirements</h2>

			<p>Under the Trade Union (Facility Time Publication Requirements) Regulations 2017, you're required to collate and publish:
			  
			  <ul class="list list-bullet">
			  <li>the number of employees who were trade union representatives from 1 April to 31 March for the submission year</li>
			  <li>how many employees spent their working hours spent on facility time</li>
			  <li>percentage of the total bill spent on facility time</li>
			    <li>time spent on paid trade union activities as a percentage of total paid facility time hours</li>
			</ul>

			<h2 class="heading-large">Timescales</h2>
			<p>You will need to collect facility time data for the period that runs from 1 April to 31 March of each year. You must submit and publish your organisation's facility time data by midnight on 30 July of each year.</p>

			<h2 class="heading-large">Your privacy</h2>
			<p>Your information will be stored securely and used in line with our <a href="https://www.gov.uk/government/publications/external-contact-information-privacy-notice/external-contact-information-privacy-notice" target="_blank">privacy policy</a> and <a href="/cookies">cookie policy.</a></p>

			<h2 class="heading-large">Information about you and your organisation</h2>

			<p>We will only use information about you and your organisation to:
			   <ul class="list list-bullet">
			  <li>contact you if we have a question about your submission</li>
			     <li>verify your organisation</li>
			</ul>
			 </p>


			<h2 class="heading-large">Virus protection</h2>
			<p>We make every effort to check and test this service for viruses at every stage of production. </p>
			  
			 <p>You must make sure that the way you use this service doesn’t expose you to the risk of viruses, malicious computer code or other forms of interference that can damage your computer system.</p>
			<p>We’re not responsible for any loss, disruption or damage to your data or computer system that might happen when you use this service.</p>

			<h2 class="heading-large">Viruses, hacking and other offences</h2>
			<p>When using this service, you must not introduce viruses, trojans, worms, logic bombs or any other material that’s malicious or technologically harmful.</p>
			<p>You must not try to gain unauthorised access to this service, the server on which it’s stored or any server, computer or database connected to it.</p>
			<p>We’ll report any attacks or attempts to gain unauthorised access to this service to the relevant law enforcement authorities and share information about you with them.</p>


		</div>
	</div>

 </main>

{% endblock %}