{% extends "common/templates/submit-layout.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block page_title %}
	Employees - {{title_suffix}}
{% endblock %}

{% block header %}

	<a name="employees"></a>
	<h1 class="heading-large">
		<span class="heading-secondary">Step 1 of 6</span>
		How many employees are in your organisation?
	</h1>
	<p>This includes full-time and part-time employees.</p>

{% endblock %}

{% block question %}

	<form action="/submit/employees?id={{submission.id}}" method="post" class="form">
		<div class="form-group {{ m.form_group_class('employees', errors) }}">
			<fieldset>
				{{ m.error_message('employees', errors) }}
				{% for category in categories %}
					<div class="multiple-choice">
						{% if category.name == submission.employees %}
							<input id="option-{{category.id}}" type="radio" name="employees" value="{{category.name}}" checked="checked">
						{% else %}
							<input id="option-{{category.id}}" type="radio" name="employees" value="{{category.name}}">
						{% endif %}	
						<label for="option-{{category.id}}">{{category.name}}</label>
					</div>
				{% endfor %}
			</fieldset>
		</div>

	    <div class="form-group">
	  		<input type="submit" class="button" value="Continue">
		</div>
	</form>
{% endblock %}