{% extends "common/templates/layout.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block page_title %}
	Error - {{title_suffix}}
{% endblock %}

{% block content %}
<main id="content" role="main">

	{% include "common/templates/includes/phase.njk" %}

	<div class="grid-row">
  		<div class="column-two-thirds">

	    	<h1 class="heading-large">
				Sorry, there was a problem
			</h1>

			<p class="lede">
			  Please <a href="/">go back</a> and try again.
			</p>

			<p>
			 If you are having difficulties using this service, please <a href="mailto:facilitytime@cabinetoffice.gov.uk">contact us</a>.
			</p>
								    
		</div>
	</div>

 </main>

{% endblock %}