{% extends "common/templates/layout.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block page_title %}
	Your organisation - {{title_suffix}}
{% endblock %}

{% block content %}
<main id="content" role="main">

	{% include "common/templates/includes/phase.njk" %}

	{% if errors %}
		{% include "common/templates/includes/errors.njk" %}
	{% endif %}

	<div class="grid-row">
  		<div class="column-two-thirds">

	    	<label class="form-label" for="organisation">
	      		<h1 class="heading-large">
					What is the name of your organisation?
				</h1>
	      	</label>
		    
		    <form action="/register/organisation" method="post" class="form">

				<div class="form-group {{ m.form_group_class('organisation', errors) }}">
					<a name="organisation"></a>
					<label for="form-field-organisation"></label>
					{{ m.error_message('organisation', errors) }}
		      		<div id="form-field-organisation-container" class="autocomplete-wrapper">
		      			<input class="form-control" id="form-field-organisation" name="organisation" type="text">
		      		</div>
		      		<input id="form-param-organisation-id" name="organisation-id" type="hidden" value="">
				</div>

			    <div class="form-group">
			      <details>
			        <summary><span class="summary">Can't find your organisation?</span></summary>
			        <div class="panel panel-border-narrow">
			          <p>
			            You can still enter the name of your organisation and submit your facility time data. We may need to contact you to verify your submission.
			          </p>
			        </div>
			      </details>
			    </div>

			    <div class="form-group">
		      		<input type="submit" class="button" value="Continue">
		    	</div>
		    </form>

		</div>
	</div>

 </main>

{% endblock %}